body {
    margin: 0px;
}


.navbar {
    background-color:gray;
    font-size: 2em;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    padding: 20px;
    margin: 20px;
}


.todoitem {
    margin: 30px 0 30px 0px;
    /* border: 2px solid green; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.my-div{
    background-color: aqua;
}